{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'site.css' %}?2">
    <title>{% block title %}the east echo{% endblock %}</title>
  </head>
  <body>
    <div id="app">
      {% include "top-nav.html" %}
      <div class="main">
        <div class="d-none d-md-block sidebar">{% include "side-nav.html" %}</div>
        <div class="content">
          {% block content %}
            <div class="alert alert-danger" role="alert">
              &ldquo;content&rdquo; template block not implemented
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <footer class="fixed-bottom">
      <a href="https://github.com/east-echo/eastecho.org"><i class="fab fa-github"></i></a>
      for students by students.
      <img src="/static/east.png" alt="">
    </footer>
    <script src="{% static 'site.js' %}?1"></script>
  </body>
</html>
