{% extends "base.html" %}
{% block title %}the east echo &ndash; {{ club.name }}{% endblock %}
{% block content %}
<div class="club-header"></div>
<div class="page-content">
  <h1>{{ club.name }}</h1>
  <dl class="row">
    <dt class="col-sm-2">Advisor</dt>
    <dd class="col-sm-10"><a href="mailto:{{ club.advisor.email }}">{{ club.advisor }}</a></dd>
    <dt class="col-sm-2">Room</dt>
    <dd class="col-sm-10">{{ club.advisor.room }}</dd>
    {% if club.president %}
    <dt class="col-sm-2">Officer{% if club.vice_president or club.treasurer or  club.secretary %}s{% endif %}</dt>
    <dd class="col-sm-10">{{ club.president }}</dd>
    {% endif %}
    {% if club.vice_president %}
    <dt class="col-sm-2"></dt>
    <dd class="col-sm-10">{{ club.vice_president }}</dd>
    {% endif %}
    {% if club.treasurer %}
    <dt class="col-sm-2"></dt>
    <dd class="col-sm-10">{{ club.treasurer }}</dd>
    {% endif %}
    {% if club.secretary %}
    <dt class="col-sm-2"></dt>
    <dd class="col-sm-10">{{ club.secretary }}</dd>
    {% endif %}
    <dt class="col-sm-2"></dt>
    <dd class="col-sm-10">
      <a href="mailto:{% if club.contact_email %}{{ club.contact_email }}{% else %}{{club.advisor.email }}{% endif %}">
      {% if club.contact_email %}{{ club.contact_email }}{% else %}{{club.advisor.email }}{% endif %}
      </a>
    </dd>
  </dl>
  {% if club.description %}
  <div>
    {% autoescape off %}{{  club.description }}{% endautoescape %}
  </div>
  {% endif %}
  <h4>Upcoming {{ club.name }} Events</h4>
  {% if not events %}
  <div class="alert alert-info" role="alert">
    <i class="fas fa-info-circle"></i> We do not have any information about upcoming events
  </div>
  {% else %}
    <ul class="list-unstyled">
    {% for event in events %}
      <li class="event">
        <strong class="text-primary">{{ event.start_at|date:"N j, g:i a" }}{% if event.end_at %} &ndash; {{ event.end_at|date:"g:i a" }}{% endif %}</strong>{% if event.location %}, {{ event.location }}{% endif %}
        {% if event.notes %}{% autoescape off %}{{ event.notes }}{% endautoescape %}{% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
