<div class="logo">
  <a href="/"><img src="/static/logo.svg" alt="the east echo"></a>
</div>
<nav class="nav flex-column">
  <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
  <a class="nav-link" href="#">This Week</a>
  <a class="nav-link sub-nav-toggle" href="#clubs-nav" data-toggle="collapse" aria-expanded="false" aria-controls="clubs-nav">Clubs &amp; Activities</a>
  <nav class="nav sub-nav flex-column collapse" id="clubs-nav">
    <a class="nav-link sub-nav-toggle" href="#natorg" data-toggle="collapse" aria-expanded="false" aria-controls="clubs-nav">National Organizations</a>
    <nav class="nav sub-nav flex-column collapse" id="natorg">
      <a class="nav-link" href="#">Future Business Leaders of America</a>
      <a class="nav-link" href="#">National Honors Society</a>
    </nav>
    <a class="nav-link" href="#">Cultural Awareness</a>
    <a class="nav-link" href="#">Health / Fitness</a>
    <a class="nav-link" href="#">Charity</a>
    <a class="nav-link" href="#">Social Clubs</a>
    <a class="nav-link" href="#">Bettering East</a>
  </nav>
  <a class="nav-link" href="#">fundraisers &amp; events</a>
  <a class="nav-link" href="#">human interest</a>
</nav>
<hr>
<p>
  by students for students.
</p>
