<div class="logo">
  <a href="/"><img src="/static/logo.png" alt="the east echo"></a>
</div>
<nav class="nav flex-column">
  <a class="nav-link{% if request.resolver_match.url_name == 'index' %} active{% endif %}" href="/">Home <span class="sr-only">(current)</span></a>
  <a class="nav-link{% if request.resolver_match.url_name == 'this-week' %} active{% endif %}" href="/this-week">This Week</a>
  <a class="nav-link sub-nav-toggle{% if request.resolver_match.url_name == 'club' %} active{% endif %}" href="/clubs">Clubs &amp; Activities</a>
  {% regroup navbar.clubs by category as categories %}
  {% for sn_cat in categories  %}
    <nav class="nav sub-nav flex-column">
      <a class="nav-link sub-nav-toggle" href="#{{ sn_cat.grouper|slugify }}" data-toggle="collapse" aria-expanded="false" aria-controls="clubs-nav">{{ sn_cat.grouper }}</a>
      <nav class="nav sub-nav flex-column collapse" id="{{ sn_cat.grouper|slugify }}">
        {% for sn_club in sn_cat.list  %}
        <a class="nav-link" href="/club/{{ sn_club.slug }}">{{ sn_club.name }}</a>
        {% endfor %}
      </nav>
    </nav>
  {%  endfor %}
  <a class="nav-link{% if request.resolver_match.url_name == 'events' %} active{% endif %}" href="/events">fundraisers &amp; events</a>
  <a class="nav-link" href="/spotlights">human interest</a>
</nav>
