body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  div#app {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-bottom: 5em !important;
    min-height: 100vh;

    div.main {
      align-items: stretch;
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: -2.5em !important;
      width: 100%;

      div.content {
        display: block;
        flex: 1 1 auto;
        margin-left: auto;
        padding: 0;
        width: 100%;

        header {
          padding: 1.25em;
          text-align: center;
          &.events {
            background: #226592;
            color: #fff;
          }
        }

        .club-header {
          background-color: rgba(42, 169, 235, 0.58);
          background-image: url('/static/default.jpeg');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-blend-mode: soft-light;
          margin-bottom: 1em;
          height: 275px;
          width: 100%;
        }

        .clubs {
          margin: 1em;
          li {
            margin: .25em 0;
          }
        }
        .page-content {
          padding: 1em;
          h1 {
            border-bottom: 1px solid #eee;
            margin-bottom: .5em;
            padding-bottom: .25em;
          }

          .instagram {
            border: 1px solid #eee;
            padding: .25em;
            margin: .5em;
            float: left;
            > .photo {
              margin: .5em;
              height: 320px;
              width: 320px;
              overflow: hidden;
              background-position: center;
              background-size: cover;
            }
          }
        }

        .content {
          margin-top: 1em;
          .tab-content {
            margin-top: 1em;
            .tab-pane {
              margin: 1em;
              .alert {
                margin: .5em 1.5em;
              }
              h4 {
                margin: 1em 0;
              }

            }
          }
        }

      }
    }
    .event {
      margin: 1em 1.5em;
    }
    z-index: 50;
  }

  footer {
    align-content: center;
    color: #aaa;
    background: #fff;
    border-top: 1px solid #ccc;
    height: 2.5em;
    text-align: center;
    padding: .5em 1em;
    z-index: 100;
    a {
      color: #ddd;
      float: left;
      &:hover {
        color: #ccc;
      }
    }
    img {
      float: right;
      height: 1.5em;
    }
  }
}
